<div class="row">
    <div class="col">
    <table class="table table-striped bg-white">
        <thead>
        <tr>
            <th>Société</th>
            <th>Nom de la boutique</th>
            <th>Téléphone</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% set customers = brand.getCustomer() %}
        {% for customer in customers %}
            {% if customer.getIsActive == 1 %}
                {% for shop in customer.getShops() %}
                    {% if shop.getIsActive == 1 %}
                        <tr>
                            <td>{{ customer.companyName }}</td>
                            <td>{{ shop.name }}</td>
                            <td>{{ shop.phone }}</td>
                            <td>{{ shop.zipCode }}</td>
                            <td>{{ shop.town }}</td>
                            <td>{{ shop.country }}</td>
                            <td>
                                <a href="{{ path('brand_customer_show', { 'id': customer.id }) }}" class="btn btn-primary">Voir</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>