<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Showroom French Select - L'agence commerciale de mode{% endblock %}</title>

    <meta name="Publisher" content="Showroom French Select"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('bundles/b2b/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/b2b/css/vitrine.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/b2b/js/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/b2b/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('bundles/b2b/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/b2b/js/vitrine.js') }}"></script>
        <script src="{{ asset('bundles/b2b/js/fontawesome-all.min.js') }}" async></script>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('bundles/b2b/img/favicon.ico') }}" />
</head>

<body>

<nav role="navigation" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand logo" href="{{ path('index') }}"><img src="{{ asset('bundles/b2b/img/logo-french-select.svg')}}" alt="logo" class="d-inline-block align-center"/></a>
    {% if active is not defined %}{% set active = '' %}{% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if active == 'index' %}active{% endif %}"><a class="nav-link" href="{{ path('index') }}">Pour les boutiques</a></li>
            <li class="nav-item {% if active == 'offres_marques' %}active{% endif %}"><a class="nav-link" href="{{ path('offres_marques') }}">Pour les marques</a></li>
            <li class="nav-item {% if active == 'marques' %}active{% endif %}"><a class="nav-link" href="{{ path('marques') }}">Notre marketplace</a></li>
            <li class="nav-item {% if active == 'salons_boutiques' %}active{% endif %}"><a class="nav-link" href="{{ path('salons_boutiques') }}">Nos showrooms</a></li>
            <li class="nav-item {% if active == 'b2b_homepage' %}active{% endif %}"><a  class="nav-link" href="{{ path('b2b_homepage') }}"><span style="font-weight:700">Se connecter</span></a> </li>
            <li class="nav-item {% if active == 'inscription' %}active{% endif %}"><a  class="nav-link" href="{{ path('inscription') }}"><span class="button-fc p-2">Créer un compte</span></a> </li>
        </ul>
    </div>
    <div class="container-brand">Le showroom des professionnels<br /><span style="color:#FE5F55;">100% tendance</span></div>
    <div class="container-back"><a href="#section-start" title="Retour en haut"><img src=" {{ asset('bundles/b2b/img/angle-up.svg')}}" height="40px"/></a></div>
    <div class="container-action">
        <a  class="nav-link" href="{{ path('b2b_homepage') }}"><span style="font-weight:700">Se connecter</span></a>
        <a  class="nav-link" href="{{ path('inscription') }}"><span class="button-fc p-2">Créer un compte</span></a>
    </div>
</nav>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() > 1) {
            $('.navbar').addClass('scroll');
            $('.logo').addClass('scroll');
        } else {
            $('.navbar').removeClass('scroll');
            $('.logo').removeClass('scroll');
        };
    });
    $(".dropdown-menu  li a").click(function(){
        $(this).parents(".dropdown").find('.dropdown-toggle').html($(this).text());
        $(this).parents(".dropdown").find('.dropdown-toggle').val($(this).data('value'));
    });</script>




{% block body %}
{% endblock %}




<footer class="modal-footer">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 text-center"> <img src="{{ asset('bundles/b2b/img/logo-french-select-blanc.svg')}}" alt="logo" width="100px"/> </div>
            <div class="col-lg-3">
                <h6>Vous êtes une boutique ?</h6>
                <ul class="list-unstyled">
                    <li> <a href="{{ path('index') }}">Nos services pour les boutiques</a> </li>
                    <li> <a href="{{ path('marques') }}">> Découvrez notre marketplace</a> </li>
                    <li> <a href="{{ path('salons_boutiques') }}">> Nos showrooms de mode</a> </li>
                    <li> <a href="{{ path('inscription') }}">Inscrivez-vous gratuitement</a> </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6>Vous êtes une marque ?</h6>
                <ul class="list-unstyled">
                    <li> <a href="{{ path('offres_marques') }}">Nos services pour les marques</a> </li>
                    <li> <a href="{{ path('showroom') }}">> Le marketplace professionel de mode</a> </li>
                    <li> <a href="{{ path('agence_commerciale') }}">> L'agence commerciale de mode</a> </li>
                    <li> <a href="{{ path('tarifs_marques') }}">Nos tarifs professionnels</a> </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h6><a href="{{ path('inscription') }}">Contactez-nous</a></h6>
                <h6>Nous suivre sur les réseaux</h6>
                <div class="footer-icons"> <a href="https://www.facebook.com/profile.php?id=100013779673917&fref=ts" target="_blank" title="Facebook French Select"><i class="fab fa-facebook-f"></i></a> <a href="https://www.instagram.com/showroomfrenchselect/" target="_blank" title="Instagram French Select"><i class="fab fa-instagram"></i></a> <a href="https://twitter.com/frenchselectFR" target="_blank" title="Twitter French Select"><i class="fab fa-twitter"></i></a> </div>

                <div class="p-1"><a href="#"><img src="{{ asset('bundles/b2b/img/flag_fr.png')}}" alt="Francais" height="20px"/> FR</a> -
                    <a class="m-0 p-1" style="text-align:right;" href="../en/<?php echo $table_trad[basename($_SERVER['PHP_SELF'], '.php')]; ?>"><img src="{{ asset('bundles/b2b/img/flag_en.png')}}" alt="Anglais" height="20px"/> EN</a>
                </div>

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div id="copyright" class="footer-copyright py-3 text-center"><a href="{{ path('mentions_legales') }}">Mentions légales</a> - <a href="{{ path('cgu') }}">CGU</a> - <a href="{{ path('confidentialite') }}">Confidentialité</a> - <a href="{{ path('cookies') }}">Cookies</a> - © 2018 Copyright French Select </div>
        <!--/.Copyright-->
    </div>
        <!--/.Footer-->
</footer>

</body>
</html>

