{% extends 'base.html.twig' %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Gestion des cibles</li>
</ol>

<div class="d-flex justify-content-center">
    <a href="{{ path('backoffice_target_new') }}" class="btn btn-primary">Créer une cible</a>
</div>

<h1 class="text-center">Gestion des cibles</h1>

<div class="container">
    <table class="table table-striped mt-3 bg-white border">
        <thead>
        <tr>
            <th scope="col">Cible</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for target in targets %}
            <tr>
                <td>{{ target.label }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('backoffice_target_show', { 'id': target.id }) }}">Voir</a>
                    <a class="btn btn-primary"
                       href="{{ path('backoffice_target_edit', { 'id': target.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
