{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_admin_index') }}">Administrateurs</a></li>
        <li class="breadcrumb-item active">Nouvel administrateur</li>
    </ol>

<div class="d-flex justify-content-center">
    <a href="{{ path('backoffice_admin_index') }}" class="btn btn-primary">Retour aux administrateurs</a>
</div>

    <h1 class="text-center">Nouvel administrateur</h1>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Créer l'administrateur"/>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}
