{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_style_index') }}">Gestion des styles et univers</a>
        </li>
        <li class="breadcrumb-item active">{{ univers.label }}</li>
    </ol>

    <div class="d-flex justify-content-center">
        <a href="{{ path('backoffice_style_index') }}" class="btn btn-primary">Retour à la liste</a>
        <a href="{{ path('backoffice_univers_show', { 'id': univers.id }) }}" class="btn btn-primary">Voir l'univers</a>
    </div>

    <h1 class="text-center">Univers - {{ univers.label }}</h1>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">
            {{ form_start(edit_form) }}
            {% include 'univers/form.html.twig' with {'form': edit_form} %}

            <div class="form-block text-center mt-4">
                <button type="submit" class="btn btn-primary">Modifier l'univers</button>
            </div>
            {{ form_end(edit_form ) }}
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="m-3 text-right">
        {{ form_start(delete_form) }}
        <input class="btn btn-outline-danger del" type="submit" value="Supprimer l'univers">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $(".del").click(function () {
                return confirm("Etes-vous sûr de vouloir supprimer cet élément ?");
            });
        });
    </script>
{% endblock %}