{% set active = 'brands' %}
{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Produits {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            setCookie('collection', {{ collection.id }});
            {% if cible is defined and cible is not null %}
            $("input:checkbox[id^=cb{{ cible.label }}]").prop("checked", true);
            {% endif %}
        });

        function reinit() {

            var cb = $("input:checkbox");
            $.each(cb, function () {
                this.checked = false;
            });
            $('#product-search-input').val("");
            filter("");
        }

        function changeCollection(event, id) {
            event.preventDefault();
            setCookie('collection', id);
            filter("");
        }

        function filter(searchText) {
            var tab = [];
            var cb = $("input:checkbox");
            $.each(cb, function () {
                if (this.checked == true) {
                    tab.push(this.value);
                }
            });
            if (tab.length != 0) {
                loadProducts(searchText, getCookie('collection'), tab);
            }
            else {
                loadProducts(searchText, getCookie('collection'));
            }
        }

        function loadProducts(searchText, collection, filters) {
            $.ajax({
                url: "{{ path('products_search') }}",
                type: 'POST',
                data: {search_text: searchText, collection: collection, filters: filters},
                datatype: 'json'
            }).done(function (data) {
                $('#products').html(data).show();
            });
        }


    </script>

{% endblock %}

{% block content %}

    {% block body %}
        {% if not((app.user.connectedFor is defined) and (app.user.connectedFor is not null)) %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('customers_index') }}">Mes marques</a></li>
                <li class="breadcrumb-item active">{{ brand.getBrandName() }}</li>
            </ol>

            <section class="container-fluid">

                <div class="container container-brand-detail-master mt-3">
                    <div class="container-brand-detail">
                        <div class="mask-brand" id="lifestyle_div">
                            {% if cible is defined and cible is not null %}
                                {% if cible.label =="Homme" %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleHomme().url) }}">
                                {% elseif cible.label =="Femme" %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleFemme().url) }}">
                                {% elseif cible.label=="Enfant" %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleEnfant().url) }}">
                                {% endif %}
                            {% else %}
                                {% if brand.primaryTarget.label == "Homme" %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleHomme().url) }}">
                                {% elseif brand.primaryTarget.label == "Femme" %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleFemme().url) }}">
                                {% else %}
                                    <img class="img-fluid bandeau-marque"
                                         src="{{ asset('uploads/'~brand.getLifestyleEnfant().url) }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="container-brand-detail-text">
                            <div class="container-button-backb"><a href="{{ path('customers_index') }}"
                                                                   id="btn-retour"><span
                                            class="button-backb p-2"><img
                                                src=" {{ asset('bundles/b2b/img/angle-left.svg') }}" height="20px"/> Retour aux marques</span></a>
                            </div>
                            <h1>{{ brand.getBrandName() }}</h1>
                            <p style="font-size:15px"><a href="{{ brand.getUrlwebsite() }}"
                                                         target="_blank">{{ brand.getUrlwebsite() }}</a></p>
                            <p class="font-weight-bold p-4">{{ brand.getSlogan() }}</p>
                            <p>{{ brand.getDescription() }}</p>
                            <div class="d-flex justify-content-center p-4">
                                {% if brand.getUrlFac() != "" %}
                                    <div class="icons-network"><a href="{{ brand.getUrlFac() }}" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></div>
                                {% endif %}
                                {% if brand.getUrlInsta() != "" %}
                                    <div class="icons-network"><a href="{{ brand.getUrlInsta() }}" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            {% if access is defined and access is not null %}
                <section class="container-fluid sub-title-brands p-2">
                    <div class="container-book-detail">
                        <div class="container-book-detail-text">
                            <h1>Vous n'avez pas accès au catalogue de cette marque</h1>
                            {% if access.isCreated %}
                                <p>Demander à accéder au catalogue :</p>
                                {{ form_start(accessForm) }}
                                {{ form_widget(accessForm) }}
                                <button style="display:block; margin:auto;" type="submit"
                                        class="btn btn-primary-reverse">
                                    Envoyer
                                </button>
                                {{ form_end(accessForm) }}
                            {% elseif access.isSubmitted() %}
                                <p>Votre demande d'accès au catalogue a bien été envoyée, elle sera traitée dans les
                                    plus
                                    brefs
                                    délais.</p>
                            {% elseif access.isHandled and access.reason != '' %}
                                <h4>L'accès au catalogue vous a été refusé pour la raison suivante :</h4>
                                <p>{{ access.reason }}</p>
                            {% endif %}
                        </div>
                        {% if brand.getLifestyle2() != null %}
                            <div class="mask-book"><img class="img-fluid bandeau-marque"
                                                        src="{{ asset('uploads/'~brand.getLifestyle2().url) }}">
                            </div>
                        {% endif %}
                    </div>
                </section>
            {% else %}



                <div class="text-center bandeau-catalogue p-4">
                    <h5>Catalogue produits</h5>
                </div>

                <div class="container-fluid bg-white">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-lg-4 ctn-button-filter nav-item dropdown">
                                <button class="btn button-filter dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Collection
                                </button>
                                <div class="dropdown-menu">
                                    {% for collec in collections %}
                                        <a class="dropdown-item" href="#"
                                           onclick="changeCollection(event, {{ collec.id }})">{{ collec }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <form autocomplete="off">
                                    <div class="input-group form" id="searchbar">
                                        <input class="border-bottom border-dark" id="product-search-input" type='text'
                                               name='target'
                                               placeholder="Je recherche un produit" align="center"
                                               onkeyup="filter(this.value)" onfocus="this.placeholder=''"
                                               onblur="this.placeholder='Je recherche un produit'">
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-2 ctn-button-filter nav-item dropdown">
                                <button class="btn button-filter dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Trier par
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Meilleures ventes</a>
                                    <a class="dropdown-item" href="#">Prix croissant</a>
                                    <a class="dropdown-item" href="#">Prix décroissant</a>
                                </div>
                            </div>
                            <div class="col-lg-2 ctn-button-filter">
                                <button id="btn-filter" class="btn button-filter" type="button" data-toggle="collapse"
                                        data-target="#filterbarContent" aria-controls="filterbarContent"
                                        aria-expanded="false"
                                        aria-label="Filters navigation">Ajouter des filtres
                                </button>
                            </div>

                        </div>
                    </div>


                    <!-- PRODUITS -->

                    <div class="p-2 bg-white">
                        <div class="container-list-products bg-white">
                            <div class="row tab-content" id="myTabContent">
                                <div class="col-3 column-filters m-2 p-4 shadow-sm collapse" id="filterbarContent">
                                    <div class="container-btn-filters text-center"><a onclick="reinit()"
                                                                                      class="button-fb p-2">Réinitialiser</a>
                                    </div>
                                    <div class="container-filters">
                                        <div id="targets">
                                            <a data-toggle="collapse" href="#collapseTargets" role="button"
                                               aria-expanded="false" aria-controls="collapseTargets"><h2>Cibles</h2></a>
                                            <div class="collapse" id="collapseTargets">
                                                {% for target in targets %}
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               id="cb{{ target.getLabel() }}"
                                                               onchange="filter('')"
                                                               value="target:{{ target.getId() }}">
                                                        <label class="form-check-label"
                                                               for="cb{{ target.getLabel() }}">{{ target.getLabel() }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div id="categories">
                                            <a data-toggle="collapse" href="#collapseCategories" role="button"
                                               aria-expanded="false" aria-controls="collapseCategories"><h2>
                                                    Catégories</h2>
                                            </a>
                                            <div class="collapse" id="collapseCategories">
                                                {% for categorie in primaryCategories %}
                                                    {% set productsFilter = [] %}
                                                    {% for p in categorie.getProducts().toArray() %}
                                                        {% if p.isActive and p.collection.id == collection.id %}
                                                            {% set productsFilter = productsFilter|merge([ p ]) %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if productsFilter is not empty %}
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                   id="cb{{ categorie.getLabel() }}"
                                                                   onchange="filter('')"
                                                                   value="category:{{ categorie.getId() }}">
                                                            <label class="form-check-label"
                                                                   for="cb{{ categorie.getLabel() }}">{{ categorie.getLabel() }}</label>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                        </div>

                                        <div id="sizes">
                                            <a data-toggle="collapse" href="#collapseSizes" role="button"
                                               aria-expanded="false"
                                               aria-controls="collapseSizes"><h2>Tailles</h2></a>
                                            <div class="collapse" id="collapseSizes">
                                                {% for size in sizes %}
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               id="cb{{ size.getVal() }}"
                                                               onchange="filter('')"
                                                               value="size:{{ size.getId() }}">
                                                        <label class="form-check-label"
                                                               for="cb{{ size.getVal() }}">{{ size.getVal() }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div id="couleurs">
                                            <a data-toggle="collapse" href="#collapseColors" role="button"
                                               aria-expanded="false"
                                               aria-controls="collapseColors"><h2>Couleurs</h2></a>
                                            <div class="collapse" id="collapseColors">
                                                {% for color in colors %}
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               id="cb{{ color.getLabel() }}"
                                                               onchange="filter('')"
                                                               value="color:{{ color.getId() }}">
                                                        <label class="form-check-label"
                                                               for="cb{{ color.getLabel() }}">{{ color.getLabel() }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div id="reduction">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                       id="cbReduction"
                                                       onchange="filter('')"
                                                       value="reduction:true">
                                                <label class="form-check-label"
                                                       for="cbReduction">En réduction</label>
                                            </div>

                                        </div>

                                        <div id="favourite">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                       id="cdFavourite"
                                                       onchange="filter('')"
                                                       value="favourite:true">
                                                <label class="form-check-label"
                                                       for="cbFavourite">Coup de coeur</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col" id="products">
                                    {% if carts is defined %}
                                        {% include 'products/productlist.html.twig' with { 'cart' : cart, 'products' : products, 'carts' : carts } %}
                                    {% else %}
                                        {% include 'products/productlist.html.twig' with { 'products' : products } %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        {% endif %}
        {% if cible is defined and cible is not null %}
            <section class="container-fluid brands-competitor p-4">
                <h2>Les marques complémentaires</h2>

                {% set hommeRecommande = [] %}
                {% set femmeRecommande = [] %}
                {% set enfantRecommande = [] %}
                {% for row in brandRecommande %}
                    {% set hommeRecommande = hommeRecommande|merge([row.getRecommandeHomme()]) %}
                    {% set femmeRecommande = femmeRecommande|merge([row.getRecommandeFemme()]) %}
                    {% set enfantRecommande = enfantRecommande|merge([row.getRecommandeEnfant()]) %}

                {% endfor %}

                {% if cible.label =="Homme" %}
                    {% include 'B2bBundle::Vitrine/brandlist.html.twig' with { 'brands' : hommeRecommande, 'cible' : cible } %}
                {% elseif cible.label =="Femme" %}
                    {% include 'B2bBundle::Vitrine/brandlist.html.twig' with { 'brands' : femmeRecommande, 'cible' : cible } %}
                {% elseif cible.label=="Enfant" %}
                    {% include 'B2bBundle::Vitrine/brandlist.html.twig' with { 'brands' : enfantRecommande, 'cible' : cible } %}
                {% endif %}


            </section>   {% endif %}
    {% endblock %}
{% endblock %}
