{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_salesman_index') }}">Commerciaux</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_salesman_show', {'id': salesman.id}) }}">{{ salesman }}</a></li>
        <li class="breadcrumb-item active">Modifier l'assignation</li>
    </ol>

    <h2>Assignation de la marque {{ edit_form.vars.value.brand }}</h2>

    <div class="col-lg-8" style="margin:auto;">
        {{ form_start(edit_form) }}

        {% include 'salesmanbrandlink/form.html.twig' with {'form': edit_form, 'departementsOnly': true} %}

        {{ form_widget(edit_form._token) }}
        <div class="row">
            <input class="btn btn-primary" type="submit" value="Modifier l'assignation" />
        </div>
        {{ form_end(edit_form, { 'render_rest': false }) }}
    </div>

    <div class="row">
        <div class="col-lg-6" style="margin:auto; padding-top:2%">
            <a href="{{ path('backoffice_salesman_show', {'id': salesman.id}) }}" class="btn btn-primary">Retour au commercial</a>
        </div>
    </div>

{% endblock %}
