{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_brand_index') }}">Marques</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_brand_show', {'id': collection.brand.id}) }}">{{ collection.brand }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('collection_show', {'id': collection.id}) }}">Collection {{ collection }}</a></li>
        <li class="breadcrumb-item active">Nouveau produit</li>
    </ol>

<div class="d-flex justify-content-center">
    <a href="{{ path('collection_show', { 'id': product.collection.id }) }}" class="btn btn-primary">Retour à la collection</a>
</div>

    <h1 class="text-center">{{ collection }} - Nouveau produit</h1>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">
            {{ form_start(form) }}

            {% include 'product/form.html.twig' with { 'edit_form': form } %}

            <h3>Produit par couleur</h3>
            <ul class="colors" data-prototype="{{ form_widget(form.allowedColors.vars.prototype)|e('html_attr') }}">
                {% for color in form.allowedColors %}
                    <li>{{ form_widget(color) }}</li>
                {% endfor %}
            </ul>

            {{ form_widget(form._token) }}

            <div class="form-block text-center mt-4">
                <input class="btn btn-primary" type="submit" value="Créer le produit"/>
            </div>

            {{ form_end(form, { 'render_rest': false }) }}
        </div>
        <div class="col-lg-2">
        </div>

    </div>

{% endblock %}
