{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('collection_index') }}">Mes Collections</a></li>
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>

    <div class="d-flex justify-content-center">
        <a href="{{ path('backoffice_product_edit', { 'id': product.id }) }}" class="btn btn-primary btn-orange ml-2 mr-2">Modifier le Produit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-primary btn-orange ml-2 mr-2" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
        <a href="#" class="btn btn-primary btn-orange ml-2 mr-2">Imprimer la fiche</a>
    </div>

    {% include 'product/show.html.twig' with { 'product' : product } %}

    <a href="{{ path('collection_index') }}" class="btn btn-primary">Retour à Mes Collections</a>
{% endblock %}
