{% if viewer is not defined %}
    {% set viewer = 'brand' %}
{% endif %}

<script>
    function format(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '€' + x[1] : ' €';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ' ' + '$2');
        }
        return x1 + x2;
    }
    $(document).ready(function() {
        $(".price").each(function () {
            if ($(this).text().indexOf('€') === -1) {
                $(this).text(format($(this).text()));
            }
        });
    });
</script>

<div class="row flex-justify-center">
    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            {% if (checkbox is defined) and (checkbox == true) %}
                <th></th>
            {% endif %}
            <th>Date</th>
            <th>N° Commande</th>
            <th>Société</th>
            <th>Boutique</th>
            <th>Ville</th>
            <th>Montant H.T</th>
        </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr onclick="selectCommand('{{ command.id }}')">
                {% if (checkbox is defined) and (checkbox == true) %}
                    <td>
                        <div class="form-check">
                            <input type="checkbox" id="command-{{ command.id }}" name="radioCommand" class="command-check form-check-input ml-5">
                            <label class="form-check-label" for="command-{{ command.id }}"></label>
                        </div>
                    </td>
                {% endif %}
                <td>{{ command.date|date("d-m-Y") }}</td>
                <td>{{ command.id }}</td>
                <td>
                    {% if viewer == 'brand' %}
                        {{ command.societyName }}
                    {% else %}
                        {{ command.cartCollection.brand }}
                    {% endif %}
                </td>
                <td>{{ command.shop }}</td>
                <td>{{ command.deliveryTown }}</td>
                <td class="price">{{ command.totalHT }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p>{{ commands|length }} {% if commands|length > 1 %}commandes trouvées{% else %}commande trouvée{% endif %}</p>