<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>French Select - Demande client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Nouvelle demande</h1>
<p>Nouvelle demande par {{ nom }} {{ prenom }} !</p>

<p>{{ text }}</p>

<p>Vous pouvez recontacter {{ nom }} {{ prenom }} au {{ tel }} ou en envoyant un mail à l'adresse suivante : {{ mail }}</p>
</body>
</html>