{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_salon_index') }}">Salons</a></li>
        <li class="breadcrumb-item active">Nouveau salon</li>
    </ol>
    <div class="d-flex justify-content-center">
        <a href="{{ path('backoffice_salon_index') }}" class="btn btn-primary">Retour aux salons</a>
    </div>
    <h1 class="text-center">Nouveau Salon</h1>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">
            {{ form_start(form) }}
            {% include 'salon/form.html.twig' with {'form': form} %}

            <div class="form-block text-center mt-4">
                <button type="submit" class="btn btn-primary">Créer le salon</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-2">
        </div>
    </div>

{% endblock %}