{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Gestion des tailles</li>
    </ol>

    <div class="d-flex justify-content-center">
        <a href="{{ path('backoffice_size_new') }}" class="btn btn-primary">Créer une taille</a>
    </div>

    <h1 class="text-center">Gestion des tailles</h1>

    <div class="container">
        <table class="table table-striped mt-3 bg-white border">
            <thead>
            <tr>
                <th scope="col">Libellé</th>
                <th scope="col">Rang</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for size in sizes %}
                <tr>
                    <td>{{ size.val }}</td>
                    <td>{{ size.rank }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('backoffice_size_show', { 'id': size.id }) }}">Détail</a>
                        <a class="btn btn-primary" href="{{ path('backoffice_size_edit', { 'id': size.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
