{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#brand").change(function() {
                $("#assignedSalesman").val("");
                $("#salesmen-ids").val("");
                $("#assign").hide();
                $("#salesmen").hide();
            });
        });

        function search() {
            var searchText = $('#salesman').val();
            var brand = $('#brand').val();
            $('#assignedBrand').val($('#brand option:selected').text());

            $.ajax({
                url: "{{ path('backoffice_salesman_search_salesman', {'id': salesman.id}) }}",
                type: 'POST',
                data: {search_text: searchText, brand_id: brand},
                datatype: 'json'
            }).done(function(data) {
                $("#salesmen").html(data).show();
            });
        }

        function selectSalesman(salesmanId, salesmanName) {
            var salesmen_ids = $("#salesmen-ids");
            var salesman_check = $("#salesman-" + salesmanId);
            var assignedSalesman = $("#assignedSalesman");

            // Checkbox déjà checked : il faut retirer les infos du commercial
            if ($(salesman_check).prop("checked")) {
                $(salesman_check).prop("checked", false);
                $(salesmen_ids).val($(salesmen_ids).val().replace(salesmanId + " ", ""));
                $(assignedSalesman).val($(assignedSalesman).val().replace(", " + salesmanName, "").replace(salesmanName, ""));

                // Il était le seul sélectionné
                if (!$(salesmen_ids).val().trim()) {
                    $(assignedSalesman).val("");
                    $("#assign").hide();
                } else {
                    var ids = $(salesmen_ids).val().trim().split(' '); // on transforme la liste en tableau
                    if (ids.length === 1) { // pour savoir s'il ne reste qu'un seul id : un commercial
                        $("#forSalesman").text("le commercial");
                        $("#forRole").text("{% if hierarchy == 'superior' %}supérieur{% else %}subordonné{% endif %}");
                    }
                }
            } else { // On sélectionne le commercial : on l'ajoute à la liste des commerciaux sélectionnées
                $(salesmen_ids).val($(salesmen_ids).val() + salesmanId + " ");
                if (!$(assignedSalesman).val().trim()) {
                    $(assignedSalesman).val(salesmanName);
                    $("#forSalesman").text("le commercial");
                    $("#forRole").text("{% if hierarchy == 'superior' %}supérieur{% else %}subordonné{% endif %}");
                } else {
                    $(assignedSalesman).val($(assignedSalesman).val() + ", " + salesmanName);
                    $("#forSalesman").text("les commerciaux");
                    $("#forRole").text("{% if hierarchy == 'superior' %}supérieurs{% else %}subordonnés{% endif %}");
                }
                $(salesman_check).prop("checked", true);
                $("#assign").show();
            }
        }

        function assign() {
            var ids = JSON.stringify($("#salesmen-ids").val().trim().split(' '));
            var route = "{{ path('backoffice_salesman_assign_salesman', {'id': salesman.id, 'hierarchy': hierarchy, 'ids': ''})|escape('js') }}" + ids;
            route += "&brand=" + $('#brand').val();
            window.location = route;
        }
    </script>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_salesman_index') }}">Commerciaux</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_salesman_show', {'id': salesman.id}) }}">{{ salesman }}</a></li>
        <li class="breadcrumb-item active">Assigner un {% if hierarchy == 'superior' %}supérieur{% else %}subordonné{% endif %}</li>
    </ol>

    {% if hierarchy == 'superior' %}
        <h2>Assigner un supérieur au commercial {{ salesman }}</h2>
    {% else %}
        <h2>Assigner des subordonnés au commercial {{ salesman }}</h2>
    {% endif %}

    <form class="form-inline">
        <div class="form-group mb-2">
            <label class="form-control-plaintext">Sélectionnez la marque :</label>
        </div>
        <div class="form-group mb-2 col-md-3">
            <label for="brand"></label>
            <select class="custom-select form-control" id="brand" style="width:100%;">
                {% for brandlink in salesman.brands %}
                    <option value="{{ brandlink.brand.id }}">{{ brandlink.brand }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <form class="form-inline">
        <div class="form-group mb-2">
            <label class="form-control-plaintext">Veuillez sélectionner les commerciaux que vous souhaitez assigner :</label>
        </div>
        <div class="form-group mb-2 col-md-4">
            <input type="text" class="form-control col-md-12" id="salesman" placeholder="Numéro, nom, société...">
        </div>
        <button id="search-button" type="button" class="btn btn-orange mb-2" onclick="search();">Rechercher <img src="{{ asset('bundles/b2b/img/search-white.png') }}" width="14" height="14"></button>
    </form>

    <div id="salesmen">

    </div>

    <form class="form-inline" id="assign" style="display:none;">
        <div class="form-group mb-2">
            <label class="form-control-plaintext">Assigner <span id="forSalesman">le commercial</span></label>
        </div>
        <div class="form-group mb-2 col-md-3">
            <input type="text" readonly class="form-control col-md-12" id="assignedSalesman" value="">
        </div>
        <div class="form-group mb-2">
            <label class="form-control-plaintext">comme <span id="forRole"></span> au commercial {{ salesman }} pour la marque </label>
        </div>
        <div class="form-group mb-2 col-md-2">
            <input type="text" readonly class="form-control col-md-12" id="assignedBrand" value="">
        </div>
        <input type="text" id="salesmen-ids" style="display:none;">
        <button type="button" id="assign-button" onclick="assign();" class="btn btn-orange ml-2 mb-2">Valider</button>
    </form>

    <script>
        // Pour pouvoir appuyer sur Entrée sans que la page se recharge
        $(document).ready(function () {
            $("#salesman").keydown(function(event) {
                if(event.key !== "Enter")
                    return;
                $('#search-button').click();
                event.preventDefault();
            });
        });
    </script>
{% endblock %}