<p>Bonjour, ceci est un mail de relance concernant votre commande n°{{ invoice.command.id }} auprès de la marque
{{ invoice.command.cartCollection.brand }} passée dans votre boutique {{ invoice.command.shop }} le {{ invoice.command.date|date('d/m/Y') }}.</p>
<p>La Facture {{ invoice.num }} enregistrée le {{ invoice.date|date('d/m/Y') }} est à ce jour impayée.</p>
<p>Nous vous prions de bien vouloir prendre les dispositions afin de pouvoir régler cette facture.</p>
<p>L'équipe B2B</p>