<p>Bonjour, ceci est un mail de relance concernant la commande n°{{ invoice.command.id }} du client {{ invoice.customer }} auprès de la marque
{{ invoice.command.cartCollection.brand }} passée dans la boutique {{ invoice.command.shop }} le {{ invoice.command.date|date('d/m/Y') }}.</p>
<p>La Facture {{ invoice.num }} enregistrée le {{ invoice.date|date('d/m/Y') }} est à ce jour impayée.</p>
<p>Un retard de paiement a pu être constaté, ce mail attestant d'une troisième relance auprès de ce client</p>
<p>L'équipe B2B</p>