{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_country_index') }}">Gestion des pays</a></li>
        <li class="breadcrumb-item active">Nouveau pays</li>
    </ol>

    <div class="d-flex justify-content-center">
        <a href="{{ path('backoffice_country_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>

    <h1 class="text-center">Nouveau pays</h1>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Créer le pays"/>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-2">
        </div>
    </div>


{% endblock %}
