{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backoffice_customer_index') }}">Clients</a></li>
        <li class="breadcrumb-item active">{{ customer.companyName }}</li>
    </ol>
    <div class="d-flex justify-content-center">
    <a href="{{ path('backoffice_customer_index') }}" class="btn btn-primary">Retour aux clients</a>
    <a href="{{ path('backoffice_customer_edit', { 'id': customer.id }) }}" class="btn btn-primary">Modifier</a>
        {% if not customer.isEnabled %}
            <a href="{{ path('backoffice_user_activate', {'id': customer.id}) }}" class="btn btn-outline-success">Activer
                le
                compte</a>

        {% endif %}
        {% if customer.isEnabled %}
            <a href="{{ path('backoffice_user_desactivate', {'id': customer.id}) }}" class="btn btn-outline-danger">Désactiver
                le
                compte</a>

        {% endif %}
    </div>

    {% include 'customer/show.html.twig' with {'customer': customer} %}


{% endblock %}