{% extends 'layout_login.html.twig' %}

{% block title %} {{ parent() }} - Nouveau mot de passe {% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container-fluid login">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 login-form border rounded">
                 <h1>Choisissez un nouveau mot de passe</h1>
                {{ form_start(form) }}
                {% include 'security/form.html.twig' with {'form': form} %}
                {{ form_widget(form._token) }}
                <div class="form-block text-center mt-4">
                <input class="btn btn-primary" type="submit" value="Valider le mot de passe" />
                </div>
                {{ form_end(form, { 'render_rest': false }) }}
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>

{% endblock %}