{% extends 'layout_login.html.twig' %}

{% block title %} {{ parent() }} - Réinitialisation du mot de passe {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container-fluid login">
        <div class="container">
            <div class="container-button-backb m-2">
                <a href="{{ path('account_login') }}" id="btn-retour">
                    <span class="button-backbh p-2">
                        <img src=" {{ asset('bundles/b2b/img/angle-left.svg') }}" height="20px"/>Retour</span>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 login-form border rounded">
                    <h1>Réinitialisation du mot de passe</h1>
                    {{ form_start(form) }}
                    {% include 'security/forgotten_password_form.html.twig' with {'form': form} %}
                    {{ form_widget(form._token) }}

                    {% if error %}
                        <div class="alert alert-danger">Adresse mail inconnue</div>
                    {% endif %}
                    <div class="form-block text-center mt-4">
                    <input class="btn btn-primary" type="submit" value="Réinitialiser le mot de passe" />
                    </div>
                    {{ form_end(form, { 'render_rest': false }) }}

                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>

{% endblock %}